#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"dashboard"/}

<section class="ui segment">
  <h1 class="ui header">
    Station list
  </h1>
  #{list items:stations, as:'station'}
  <section class="ui raised segment">
    <section class="ui basic segment">
      #{currentweather station:station/}
    </section>
    <a href="/stations/${station.id}" class="positive ui icon button"><i class="icon folder open"></i></a>
    <a href="/dashboard/deletestation/${station.id}" class="negative ui icon button"><i class="trash alternate outline icon"></i></a>
  </section>
  #{/list}
  #{addstation /}
</section>